# name: Centered section (compact title)
# key: section
# scope: *
# --
# ${1:Section title}
# ========================================================================
# ${1|remove_whitespace|center:72}
# ========================================================================
$0
